<h1>Tweet</h1>
<p><%= @tweet.content %></p>
<p>Posted by: <%= @tweet.user.email %></p>

<% if current_user %>
  <div>
    <% if current_user.liked_tweets.include?(@tweet) %>
      <%= form_with(model: current_user.likes.find_by(tweet: @tweet), url: tweet_like_path(@tweet, current_user.likes.find_by(tweet: @tweet)), method: :delete, local: false, data: { remote: true }) do |form| %>
        <%= form.submit 'Unlike', class: 'btn btn-danger' %>
      <% end %>
    <% else %>
      <%= form_with(model: Like.new, url: tweet_likes_path(tweet_id: @tweet.id), local: false, data: { remote: true }) do |form| %>
        <%= form.hidden_field :tweet_id, value: @tweet.id %>
        <%= form.submit 'Like', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
    <span id="like-count"><%= @tweet.likes.count %> Likes</span>
  </div>
<% end %>

<%= link_to 'Back', tweets_path, class: "btn btn-secondary mt-3" %>

<% if current_user && @tweet.user == current_user %>
  <div>
    <%= form_with(model: @tweet, method: :delete, url: tweet_path(@tweet), data: { confirm: 'Are you sure?' }) do |form| %>
      <%= form.button 'Delete', class: 'btn btn-danger mt-3' %>
    <% end %>
  </div>
<% end %>

<h2>Comments</h2>
<%= render 'shared/comment_form' %>

<% @tweet.comments.each do |comment| %>
  <div class="comment">
    <p><%= comment.user.email %>: <%= comment.content %></p>
  </div>
<% end %>
